h3
{
   font-size: 20px; 
}

.btn-success:hover
{
    background-color:red;
}

canvas
{
    animation-name: example;
    animation-duration: 4;
    animation-iteration-count: infinite;
}